{% include "include/head.html" %}
<div id="contents">
    {% include "include/header.html" %}
	<div class="contents-box">
        <div class="store-header">
            <img class="store-icon" src="/static/images/icon_store_page_store.png">
            <input type="text" class="store-search-text">
            <img class="store-icon" src="/static/images/icon_store_page_shopping_bag.png">
        </div>
        <div class="banner-box">
            <img class="banner-img" src="/static/images/store_main_1.jpg">
        </div>
        <div class="category-box">
            <ul class="category-list">
                <li class="category-item">
                    <div class="category-img-box">
                        <img class="category-img" src="/static/images/icon_store_page_category1.png">
                    </div>
                    <span class="category-name txt-bold">반찬<span>
                </li>
                <li class="category-item">
                    <div class="category-img-box">
                        <img class="category-img" src="/static/images/icon_store_page_category2.png">
                    </div>
                    <span class="category-name txt-bold">식물성 고기<span>
                </li>
                <li class="category-item">
                    <div class="category-img-box">
                        <img class="category-img" src="/static/images/icon_store_page_category3.png">
                    </div>
                    <span class="category-name txt-bold">디저트<span>
                </li>
                <li class="category-item">
                    <div class="category-img-box">
                        <img class="category-img" src="/static/images/icon_store_page_category4.png">
                    </div>
                    <span class="category-name txt-bold">친환경 인증<span>
                </li>
                <li class="category-item">
                    <div class="category-img-box">
                        <img class="category-img" src="/static/images/icon_store_page_category5.png">
                    </div>
                    <span class="category-name txt-bold">저탄소 인증<span>
                </li>
                <li class="category-item">
                    <div class="category-img-box">
                        <img class="category-img" src="/static/images/icon_store_page_category6.png">
                    </div>
                    <span class="category-name txt-bold"><span>
                </li>
            </ul>
        </div>
        <div class="product-box">
            <h2>이 상품 어때요?</h2>
            <ul class="product-list">
                <li class="product-item">
                    <img class="product-img" src="/static/images/store_product_1.png">
                    <div class="product-detail">
                        <div class="product-name">[광합성] 카카오틴 식물성 단백질 초코볼(30g)</div>
                        <div class="product-price txt-bold">2,900원</div>
                    </div>
                </li>
                <li class="product-item">
                    <img class="product-img" src="/static/images/store_product_2.png">
                    <div class="product-detail">
                        <div class="product-name">고구마 치즈 함박 스테이크 플래터 (4인)</div>
                        <div class="product-price txt-bold">29,900원</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include "include/footer.html" %}