{% include "include/head.html" %}
<div id="contents">
    <div class="logo-box">
        <img class="img logo-img" src="/static/images/logo_img.png">
    </div>
    <div class="page-txt">
        <h2>맞춤형 플랜을<br>생성하고 있습니다</h2>
    </div>
    <div class="waiting-list">
        <div class="waiting-item">
            <div class="waiting-check">
                <span class="check-round"></span>
            </div>
            <div class="waiting-txt">일주일 평균 탄소배출량보다 10% 감축된 레시피 선정 중</div>
        </div>
        <div class="waiting-item">
            <div class="waiting-check">
                <span class="check-round"></span>
            </div>
            <div class="waiting-txt">레시피 데이터베이스 생성 중</div>
        </div>
    </div>
</div>
{% include "include/footer.html" %}